# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.env/
.envrc
venv/*
ENV/
.env/
.pyenv/

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Project temp
temp/
.langgraph_api/

# Secrets
.env